<th:block th:fragment="bootstrap-fontawesome-jquery">
    <!-- BOOSTRAP -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.bundle.min.js}"></script>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />

    <!-- JQUERY -->
    <script th:src="@{/jquery-min.js}"></script>

    <!-- TOASTR -->
    <link rel="stylesheet" th:href="@{/toastr/toastr.min.css}" />
    <script th:src="@{/toastr/toastr.min.js}"></script>
</th:block>