<th:block th:fragment="header">
    <style>
        #home:hover #lv1-menu {
            display: block !important;
        }

        #lv1-menu .lv1-item:hover #lv2-menu {
            display: block !important;
        }

        .lv2-btn {
            outline: none !important;
        }

        .arrow-sign {
            cursor: pointer;
        }
    </style>

    <header class="p-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <a th:href="@{/}"
                    class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-2 fs-3">
                    <!-- <i class="fa-solid fa-book"></i> -->
                    <img style="width: 38px" th:src="@{/favicon.png}" alt="Book icon" />
                </a>

                <ul class="nav nav-pills col-auto me-auto justify-content-center mb-md-0 fw-bold">
                    <li class="nav-item" id="home">
                        <a th:href="@{/}" class="nav-link px-2 link-secondary"
                            th:classappend="${(currentPage == null || currentPage != 'home') ? 'link-body-emphasis' : ''}">
                            Home
                        </a>
                        <ul class="dropdown-menu" id="lv1-menu">
                            <li class="dropdown-item py-1 px-0">
                                <div class="btn-group dropend w-100">
                                    <div class="flex-fill py-0 px-3 text-start fw-normal">Genre</div>
                                    <div class="arrow-sign dropdown-toggle dropdown-toggle-split py-0 px-3 text-end"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropend</span>
                                    </div>
                                    <ul class="dropdown-menu">
                                        <!-- loop genres list -->
                                        <li th:each="genre : ${genres}">
                                            <a th:text="${genre.name}" class="dropdown-item"
                                                th:href="@{/(genre=${genre.id})}">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/order}" class="nav-link px-2 link-secondary"
                            th:classappend="${(currentPage == null || currentPage != 'order') ? 'link-body-emphasis' : ''}">Order</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/cart}" class="nav-link px-2 link-secondary position-relative"
                            th:classappend="${(currentPage == null || currentPage != 'cart') ? 'link-body-emphasis' : ''}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span th:text="${numCart}"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
                        </a>
                    </li>
                </ul>

                <div class="form-check form-switch mb-0 me-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="darkMode"
                        th:checked="${session.darkmode != null and session.darkmode}" />
                    <label class="form-check-label" for="darkMode">
                        <i th:if="${session.darkmode != null and session.darkmode}" id="dark-mode-icon"
                            class="fa-solid fa-moon fa-lg"></i>
                        <i th:if="${session.darkmode == null or not session.darkmode}" id="dark-mode-icon"
                            class="fa-solid fa-sun fa-lg"></i>
                    </label>
                </div>

                <div th:if="${#authentication.name != 'anonymousUser'}" class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{${loginUser.avatar}}" alt="avatar" width="32" height="32"
                            class="rounded-circle" />
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li>
                            <a class="dropdown-item" th:href="@{/order}">
                                <span style="width: 20px" class="d-inline-flex justify-content-center me-2">
                                    <i class="fa-solid fa-table"></i></span>Orders</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/cart}"><span style="width: 20px"
                                    class="d-inline-flex justify-content-center me-2"><i
                                        class="fa-solid fa-cart-shopping"></i></span>Cart
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/user}"><span style="width: 20px"
                                    class="d-inline-flex justify-content-center me-2"><i
                                        class="fa-solid fa-user"></i></span>Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a id="logout" class="dropdown-item" href="#">
                                <span style="width: 20px" class="d-inline-flex justify-content-center me-2">
                                    <i class="fa-solid fa-right-from-bracket"></i></span>Logout
                            </a>
                            <form th:action="@{/auth/logout}" method="post" class="d-none" id="logout-form"></form>
                        </li>
                    </ul>
                </div>

                <div th:if="${#authentication.name == 'anonymousUser'}">
                    <a class=" btn btn-outline-primary" th:href="@{/auth/login}">Login</a>
                    <a class="btn btn-primary" th:href="@{/auth/register}">Register</a>
                </div>

            </div>
        </div>
    </header>
    <script>
        $(() => {
            // handle darkmode
            $('#darkMode').change(async (e) => {
                const darkMode = $('#darkMode').is(':checked');
                const response = await fetch(`/utils/darkmode?isDark=${darkMode}`);
                const result = await response.json();
                if (result === true) {
                    if (darkMode) {
                        $('html').attr('data-bs-theme', 'dark');
                        $('#dark-mode-icon').removeClass('fa-sun').addClass('fa-moon');
                    } else {
                        $('html').attr('data-bs-theme', 'light');
                        $('#dark-mode-icon').removeClass('fa-moon').addClass('fa-sun');
                    }
                }
            });

            // logout
            $('#logout').click(e => {
                e.preventDefault();
                $("#logout-form").submit();
            })
        });
    </script>
</th:block>