<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/cdn :: bootstrap-fontawesome-jquery}"></th:block>
    <title>BookStore</title>
    <style>
        .line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <div class="py-2 bg-body-secondary">
            <form id="search-form" class="container d-flex flex-wrap align-items-center py-3">
                <div class="col-12 col-sm-auto mb-2 mb-sm-0 me-sm-auto" role="search">
                    <input type="search" name="keyword" class="form-control" placeholder="Search..."
                        aria-label="Search" />
                </div>

                <div class="d-flex align-items-center">
                    <select class="form-select" name="genre" id="genre">
                        <option selected value="all">All</option>
                        <option value="genre.id">Action & Adventure</option>
                        <option value="genre.id">Action & Adventure</option>
                        <option value="genre.id">Action & Adventure</option>
                    </select>
                </div>
            </form>

            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/customer/detail/bookid"
                            class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                            title="View detail">
                            <img src="/images/products/back-cover/fca8c31f-ab90-423b-92fb-40739046961a.jpg"
                                class="card-img-top rounded" style="aspect-ratio: 9 / 10" />

                            <div class="card-body p-1 pb-1">
                                <div class="">
                                    <p class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        title="Title of the book">
                                        Title of the book
                                    </p>
                                    <p class="card-title text-success text-uppercase text-center text-truncate"
                                        title="Author of the book">
                                        <b>Author:</b> Author of the book
                                    </p>
                                </div>
                                <p class="card-text mb-2 line-clamp">book's description</p>
                                <div class="d-flex justify-content-end align-items-center fs-6">
                                    <p class="mb-0">
                                        <b class="text-success">Price:</b> 50
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <nav class="mt-4 d-flex justify-content-end">
                    <ul class="pagination">
                        <li class="page-item first">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>
                        <li class="page-item prev" style="color: black !important">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>

                        <li class="page-item active">
                            <a page-value="1" class="page-link" href="#">1</a>
                        </li>

                        <li class="page-item">
                            <a page-value="2" class="page-link" href="#">2</a>
                        </li>

                        <li class="page-item">
                            <a page-value="3" class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item next">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item last">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>